<footer id="site-footer">
  <div class="content-container">

    <div class="footer-info">
      <a href="{{ site.baseurl }}">{{ site.title }}</a>
      <h5 class="footer-title">
        maintananced by <a href="http://gam-legalalliance.com" title="G.A.M. Legal Alliance">G.A.M. Legal Alliance</a>
      </h5>
      <address>อินเตอร์เชนจ์ 21 ชั้น 22, 399 ถ.สุขุมวิท, เขตวัฒนา, กรุงเทพฯ 10110 <br />โทร: 02 611 2881 อีเมล์: info@gam-legallliance.com</address>
      <small><i class="fa fa-copyright"></i> All rights reserved.</small>
    </div>
		
  </div>
</footer>