<div class="list-post">
  <ul class="list">

    {% for post in site.posts limit:5 %}
      <li class="list__items">
        <div class="list__content">
          <h3><a class="list__url" href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="list__date">{{ post.date | date: "%-d %B %Y" }}</p>
        </div>
      </li>
    {% endfor %}

  </ul>
</div><!-- /.list-post -->

<div class="centered">
  <a href="{{ site.baseurl }}/blog/" class="btn btn--primary btn--large btn--wide btn--rounded">Blog <i class="fa fa-chevron-right"></i></a>
</div>