<div class="content-container">
  <div class="livechat">
    <a hidefocus="true" href="javascript:void(window.open('http://gam-legalalliance.com/livezilla/chat.php?acid=4e1c2','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl">
      <span><i class="fa fa-comment-o"></i> Live Chat</span>
    </a>
  </div>
</div>


<!--<a style="outline: medium none;" hidefocus="true" href="javascript:void(window.open('http://gam-legalalliance.com/livezilla/chat.php?acid=4e1c2','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_cbl"><img src="http://gam-legalalliance.com/livezilla/image.php?acid=d00e9&amp;id=3&amp;type=inlay" style="border:0px;" alt="LiveZilla Live Chat Software" height="110" width="320"></a>-->