<nav id="site-nav" class="site-nav nav-collapse" role="navigation">
  <ul class="menu">
    <li class="menu__items"><a class="menu__link{% if page.css contains 'front' %} menu__link--current{% endif %}" href="{{ site.baseurl }}/">home</a></li>
    <li class="menu__items dropdown"><a class="menu__link{% if page.url contains 'layouts' %} menu__link--current{% endif %}" href="#">layouts <i class="menu__icon fa fa-chevron-down"></i></a>
      <ul class="dropdown-content">
        <li class="dropdown__menu__items sub-menu"><a class="dropdown__menu__link" href="{{ site.baseurl }}/layouts/one-column/">one column</a></li>
        <li class="dropdown__menu__items sub-menu"><a class="dropdown__menu__link" href="{{ site.baseurl }}/layouts/left-sidebar/">left sidebar</a></li>
        <li class="dropdown__menu__items sub-menu"><a class="dropdown__menu__link" href="{{ site.baseurl }}/layouts/right-sidebar/">right sidebar</a></li>
        <li class="dropdown__menu__items sub-menu"><a class="dropdown__menu__link" href="{{ site.baseurl }}/layouts/waffle/">Waffle</a></li>
      </ul>
    </li>
    <li class="menu__items"><a class="menu__link{% if page.url contains 'blog' %} menu__link--current{% endif %}" href="{{ site.baseurl }}/blog/">blog</a></li>
    <li class="menu__items"><a class="menu__link{% if page.url contains 'about' %} menu__link--current{% endif %}" href="{{ site.baseurl }}/about/">about</a></li>
    <li class="menu__items"><a class="menu__link{% if page.url contains 'contact' %} menu__link--current{% endif %}" href="{{ site.baseurl }}/contact">contact</a></li>
  </ul>
</nav>
