// Global settings
// =====

// Color
// -----
// Grayscale
$gray = rgba(242, 242, 242, 1)
$dark-gray = darken( $gray, 7% )
$darker-gray = darken( $gray, 15% )
$black = #333
$light-black = lighten( $black, 10% )
$lighter-black = lighten( $black, 20% )

// Branding color
$primary-color = #095179
$secondary-color = #EDEDED
$alt-color = #D52F2F
$action-color = $alt-color

// Font color
$font-color = #4e4e4e
$heading-font-color = $font-color
$muted-color = lighten( $font-color, 60% )

// Background color
$default-color = $dark-gray
$site-bg-color = #fff
$bg-color = #fff
$secondary-bg-color = #f5f5f5

// Border color
$border-color = $dark-gray

// State colors
$info-color = #3498db
$success-color = #2ecc71
$warning-color = #f1c40f
$error-color = #e74c3c

// Space
// -----
$spacing = 1.5rem
$small-spacing = $spacing / 2
$large-spacing = $spacing * 2

// Fonts
// -----
$sans-serif = Tahoma, sans-serif
$serif = "Pridi", Tahoma, serif

$heading-font-family = $serif
$font-family = $serif

// Code font
$monospace-font-family = Menlo, Monaco, Consolas, "Courier New", monospace

$font-size = 16px
$small-font-size = .8rem
$large-font-size = 1.5rem

$font-weight = 300
$heading-font-weight = 500

$line-height = 1.7
$heading-line-height = ms(1)

// Radius
// -----
$border-radius = 3px

// Lost grid
// -----
@lost gutter 40px
$lost-container-width = 980px