// Breadcrumb
// =====

.breadcrumb
  //debug()
  breadcrumb()
  cf()
  margin: auto
  width: auto
  max-width: 800px
  
  color $darker-gray
  
  .breadcrumb__items
    position: relative
    left: 0
    padding-right: 0
    font-size: 13px
    text-transform uppercase
    color $darker-gray
    
    &:hover
      color $alt-color
    
  .breadcrumb__items--current
    color $muted-color
    
    &:hover
      color $muted-color
    