// Dropdown
// =====

/* The container <div> - needed to position the dropdown content */
.dropdown
  position relative
  display inline-block

/* Dropdown Content (Hidden by Default) */
.dropdown-content
  display none !important
  position absolute
  
  min-width 160px
  
  text-align left
  
  background-color #fff
  box-shadow 0px 8px 12px 0px rgba(0,0,0,0.2)
  
  animation: slideInDown .3s

  .dropdown__menu__items
    left 0
    display block !important
    padding 0

  .dropdown__menu__link
    display block
    padding 5px 10px
    color $primary-color

  .dropdown__menu__link:hover
    color #fff
    background-color $alt-color

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
  display block !important
  padding 15px 10px

// Slide down animation
@keyframes slideInDown {
  from {
    transform: translate3d(0, -3%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

// .dropdown-content
//   animation-name slideInDown