<!DOCTYPE html>
<html>

  <!-- Head -->
  {% include _head.html %}
  
  <body id="site"{% if page.css %} class="{{ page.css }}"{% endif %}>

      <!-- Site's Header -->
      {% include _header.html %}

      <!-- Site's Body -->
      <main class="main">

        <div class="grid">

          <div class="content">

            <div class="page-header">
              <h1 class="page-title">{{ page.title }}</h1>
              {% include _breadcrumbs.html %}
            </div><!-- /.page-header -->

            <div class="l-col l-col-3">

              {% for entry in site.posts %}
                <div class="col">

                  <a href="{{ entry.url }}" title="{{ entry.title }}">

                    <div class="card">
                      <div class="card-img">
                        {% if entry.image.feature %}
                          <img src="{{ site.baseurl }}/img/{{ entry.image.feature }}" />
                        {% else %}
                          <img src="{{ site.baseurl }}/img/liberty-statue.jpeg" />
                        {% endif %}
                      </div>

                      <div class="card-content">
                        <h5 class="card__title">{{ entry.title }}</h5>
                        <p class="card__date">{{ entry.date | date: "%-d %B %Y" }}</p>
                        <p class="card__excerpt">{{ entry.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncatewords: 15 }}</p>
                        <!-- <p class="card__excerpt">{{ post.content | strip_html | truncatewords: 15 }}</p> -->
                      </div>
                    </div><!-- /.card -->
                  </a>

                </div><!-- /.col -->
              {% endfor %}

            </div><!-- /.col -->

          </div><!-- /.content -->

        </div><!-- /.grid -->

      </main>

      <!-- Site's Footer -->
      {% include _footer.html %}

    <!-- Javascript -->
    {% include _bottom.html %}

  </body>
</html>