<!DOCTYPE html>
<html>

  <!-- Head -->
  {% include _head.html %}
  
  <body id="site" class=" {{ page.class }}">

      <!-- Site's Header -->
      {% include _header.html %}

      <!-- Site's Body -->
      <main class="main">

        <div class="page-header">
          <div class="grid">
            <h1 class="page-title">{{ page.title }}</h1>
            {% include _breadcrumbs.html %}
            {% include _modified.html %}
          </div>
        </div><!-- /.page-header -->

        <div class="content">
          <div class="grid">
            {{ content }}
            {% include _sharer.html %}
            {% include _banner-gam.html %}
          </div>
        </div><!-- /.content -->

      </main>

      <!-- Site's Footer -->
      {% include _footer.html %}

    <!-- Javascript -->
    {% include _bottom.html %}

  </body>
</html>