// Branding
// =====

#site-branding
  //debug()
  overflow hidden
  padding 10px
  
  +tablet()
    //debug()
    display flex
    align-items center
    justify-content center

  +desktop()
    display flex

  // .gam-logo,
  // .site-logo
  //   display block
  //   width 200px
  //   height 40px
  //   -webkit-transition: all 0.3s
  //   -moz-transition: all 0.3s
  //   transition: all 0.3s
    
  //   +above('m')
  //     display flex
  //     align-self center
  //     align-items center
    
  // .gam-logo
  //   float left
  //   padding-right 10px
    
  //   .logo
  //     width 200px
  //     height 40px
  //     -webkit-transition: all 0.3s
  //     -moz-transition: all 0.3s
  //     transition: all 0.3s
    
  .site-logo
    display block
    width 200px
    height 40px
    //float left
    //padding-left 10px
    text-indent -9999px
    //border-left 1px solid rgba( #ccc, .3 )
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    
    .logo
      display block
      width 200px
      height 40px
      background url('../img/site/usvisa-logo.png') no-repeat left center
      background-size cover
      -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
      transition: all 0.3s
      
// Animated
#site-header.shrink #site-branding
  .site-logo
    width 180px
    height 36px
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    
    .logo
      width 180px
      height 36px
      -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
      transition: all 0.3s
