// Branding
// =====

#site-branding
  //debug()
  overflow hidden
  padding 15px 0
  
  +tablet()
    //debug()
    display flex
    align-items center
    justify-content center

  +desktop()
    display flex

      
// Animated
//#site-header.shrink #site-branding

