// Navigations
// =====

#site-nav
  //debug()
  clear none !important
  background #fff
  
  +desktop()
    background transparent
    border-bottom 0
    box-shadow none

  .menu
    margin 0
    padding 15px 0
    width 100%
    
    +tablet()
      margin-top 15px
      // padding 10px 0
      text-align center
    
    +desktop()
      //overflow hidden
      // padding 15px 0
      text-align right
      
  .menu__items
    position relative
    left 0
    
    display block
    padding 0 10px
    overflow visible
    //text-align center
    
    +tablet()
      display inline-block
      // padding 0 10px
      width auto
      
    +desktop()
      display inline-block
      // padding 0 10px
      width auto
      background transparent
    
      &:last-child
        padding-right 0
        
  .menu__icon
    position relative
    top -2px
    fs .5rem
  
  .menu__link
    font-family $heading-font-family
    fs 1rem
    color $primary-color
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    transition: all 0.3s
    
    &:hover,
    &:focus
      color $alt-color
    
  // Active menu
  .menu__link--current
    color $alt-color
    //border-bottom 1px solid $alt-color
      
// Override responsive-nav.js
.nav-toggle
  margin-top -20px !important