// Navigations
// =====

// Primary nav
// -----
#primary-nav
  margin-top 10px
  width 100%
  text-align center
  
  .menu
    width 100%
    
  .menu__items
    margin 0 3px
    display inline-block
    
  .menu__url
    -webkit-transition height 0.3s
    -moz-transition height 0.3s
    transition height 0.3s
    
  +above('m')
    margin-top 0
    text-align right
    
    .menu
      margin 0
      
    .menu__items
      margin 0 10px