// SITE THEME
// =====

// Site header
// -----
#site-header
  //debug()
  position fixed
  top 0
  left 0
  z-index 100
  //overflow hidden
  width 100%
  height auto
  padding 10px 0
  background #fff
  border-bottom 1px solid $gray
  //box-shadow 0 0 4px $gray
  -webkit-transition height 0.3s
  -moz-transition height 0.3s
  transition height 0.3s
  
  // +desktop()
    //height 90px
    //background transparent
    //border-bottom 0
  
#site-header .grid
  //overflow hidden
  margin auto
  max-width $lost-container-width
  
  #site-branding
    lost-column 1/1
    
    +desktop()
      lost-column 1/2
      
  #site-nav
    lost-column 1/1
    
    +desktop()
      lost-column 1/2

// Animated header
#site-header.shrink
  height 60px
  padding 5px 0
  background #fff
  border-bottom 1px solid $gray
  box-shadow 0 0 4px $gray
  
// Site Footer
// -----
#site-footer
  clear both
  width 100%
  padding $spacing 0 $spacing 0
  text-align center
  color #777
  background #fff
  border-top 1px solid rgba( $primary-color, .1 )

  .footer-title
    color #777
    margin-bottom $small-spacing