// Site's header
// =====

#site-header
  background #fff
  border-bottom 1px solid $gray

  -webkit-transition height 0.3s
  -moz-transition height 0.3s
  transition height 0.3s
  
  #site-header-inner
    -webkit-transition height 0.3s
    -moz-transition height 0.3s
    transition height 0.3s
  
#site-header.shrink // Animated header
  background #fff
  border-bottom 1px solid $gray
  box-shadow 0 0 15px $gray