// Waffle grid layout
// =====

.l-waffle
  cf()
  
.l-waffle-1
  .col
    lost-waffle 1/1 1
.l-waffle-2
  .col
    lost-waffle 1/2 2
    
.l-waffle-3
  .col
    lost-waffle 1/3 3
    
.l-waffle-4
  .col
    lost-waffle 1/4 4