// Wrapper
// =====

.main
  min-height 95vh

.section,
.wrapper-block
  cf()
  padding $spacing 0
  //margin-bottom: $spacing
  border-bottom 1px solid $border-color

.grid
  //debug()
  cf()
  lost-center $lost-container-width 20px no-flex

.content
  margin 100px auto $spacing auto
  //max-width 800px
  
  +above('m')
    margin-top 180px
    
.aside
  margin 0 auto $spacing auto
  //max-width 800px
