// Typography
// =====

// Trirong
@font-face
  font-family 'Trirong'
  font-path '../fonts/Trirong-Regular'
  font-weight 400
  font-style normal

// Pridi
@font-face
  font-family 'Pridi'
  font-path '../fonts/Pridi-Regular'
  font-weight 400
  font-style normal

